<!-- BEGIN_INCLUDE(stripe:list-all-customers) -->
    <stripe:list-all-customers config-ref="" limit="#[map-payload:limit]" startingAfter="#[map-payload:startingAfter]" endingBefore="#[map-payload:endingBefore]" />
<!-- END_INCLUDE(stripe:list-all-customers) -->
<!-- BEGIN_INCLUDE(stripe:create-customer) -->
    <stripe:create-customer config-ref="" accountBalance="#[map-payload:accountBalance]" couponCode="#[map-payload:couponCode]" description="#[map-payload:description]" email="#[map-payload:email]" metadata="#[map-payload:metadata]" />
<!-- END_INCLUDE(stripe:create-customer) -->
<!-- BEGIN_INCLUDE(stripe:retrieve-customer) -->
    <stripe:retrieve-customer config-ref="" id="#[map-payload:id]" />
<!-- END_INCLUDE(stripe:retrieve-customer) -->  
<!-- BEGIN_INCLUDE(stripe:update-customer) -->
    <stripe:update-customer config-ref="" id="#[map-payload:id]" accountBalance="#[map-payload:accountBalance]" couponCode="#[map-payload:couponCode]" description="#[map-payload:description]" email="#[map-payload:email]" metadata="#[map-payload:metadata]" />
<!-- END_INCLUDE(stripe:update-customer) --> 
<!-- BEGIN_INCLUDE(stripe:delete-customer) -->
    <stripe:retrieve-customer config-ref="" id="#[map-payload:id]" />
<!-- END_INCLUDE(stripe:delete-customer) -->  
<!-- BEGIN_INCLUDE(stripe:create-plan) -->
	<stripe:create-plan config-ref="" id="#[map-payload:id]" amount="#[map-payload:amount]" currency="#[map-payload:currency]" interval="#[map-payload:interval]" intervalCount="#[map-payload:intervalCount]" planName="#[map-payload:planName]" trialPeriodDays="#[map-payload:trialPeriodDays]" statementDescriptor="#[map-payload:statementDescriptor]" metadata="#[map-payload:metadata]" />
<!-- END_INCLUDE(stripe:create-plan) -->
<!-- BEGIN_INCLUDE(stripe:retrieve-plan) -->
    <stripe:retrieve-plan config-ref="" id="#[map-payload:id]" />
<!-- END_INCLUDE(stripe:retrieve-plan) -->  
<!-- BEGIN_INCLUDE(stripe:update-plan) -->
	<stripe:update-plan config-ref="" id="#[map-payload:id]" planName="#[map-payload:planName]" statementDescriptor="#[map-payload:statementDescriptor]" metadata="#[map-payload:metadata]" />
<!-- END_INCLUDE(stripe:update-plan) -->
<!-- BEGIN_INCLUDE(stripe:list-all-plans) -->
	<stripe:list-all-plans config-ref="" createdTimestamp="#[map-payload:createdTimestamp]" created="#[map-payload:created]" endingBefore="#[map-payload:endingBefore]" limit="#[map-payload:limit]" startingAfter="#[map-payload:startingAfter]" />
<!-- END_INCLUDE(stripe:list-all-plans) -->
<!-- BEGIN_INCLUDE(stripe:create-coupon) -->
	<stripe:create-coupon config-ref="" id="#[map-payload:id]" duration="#[map-payload:duration]" amountOff="#[map-payload:amountOff]" currency="#[map-payload:currency]" durationInMonths="#[map-payload:durationInMonths]" maxRedemptions="#[map-payload:maxRedemptions]" percentOff="#[map-payload:percentOff]" redeemBy="#[map-payload:redeemBy]" metadata="#[map-payload:metadata]" />
<!-- END_INCLUDE(stripe:create-coupon) -->
<!-- BEGIN_INCLUDE(stripe:retrieve-coupon) -->
    <stripe:retrieve-coupon config-ref="" id="#[map-payload:id]" />
<!-- END_INCLUDE(stripe:retrieve-coupon) -->  
<!-- BEGIN_INCLUDE(stripe:update-coupon) -->
    <stripe:update-coupon config-ref="" id="#[map-payload:id]" metadata="#[map-payload:metadata]"/>
<!-- END_INCLUDE(stripe:update-coupon) -->  
<!-- BEGIN_INCLUDE(stripe:delete-coupon) -->
    <stripe:delete-coupon config-ref="" id="#[map-payload:id]"/>
<!-- END_INCLUDE(stripe:delete-coupon) -->  
<!-- BEGIN_INCLUDE(stripe:list-all-coupons) -->
	<stripe:list-all-coupons config-ref="" createdTimestamp="#[map-payload:createdTimestamp" created="#[map-payload:created]" endingBefore="#[map-payload:endingBefore]" limit="#[map-payload:limit]" startingAfter="#[map-payoad:startingAfter]" /> 
<!-- END_INCLUDE(stripe:list-all-coupons) -->
<!-- BEGIN_INCLUDE(stripe:retrieve-balance) -->
    <stripe:retrieve-balance config-ref=""/>
<!-- END_INCLUDE(stripe:retrieve-balance) -->  
<!-- BEGIN_INCLUDE(stripe:retrieve-balance-transaction) -->
    <stripe:retrieve-balance-transaction config-ref="" id="#[map-payload:id]"/>
<!-- END_INCLUDE(stripe:retrieve-balance-transaction) -->  
<!-- BEGIN_INCLUDE(stripe:list-all-balance-history) -->
	<stripe:list-all-balance-history config-ref="" availableOnTimestamp="#[map-payload:availableOnTimestamp]" availableOn="#[map-payload:availableOn]" createdTimestamp="#[map-payload:createdTimestamp" created="#[map-payload:created]" currency="#[map-payload:currency]" endingBefore="#[map-payload:endingBefore]" limit="#[map-payload:limit]" sourceId="#[map-payload:sourceId]" startingAfter="#[map-payoad:startingAfter]" transfer="#[map-payload:transfer]" type="#[map-payload:type]"/> 
<!-- END_INCLUDE(stripe:list-all-coupons) -->
<!-- BEGIN_INCLUDE(stripe:create-card) -->
    <stripe:create-card config-ref="" cardOwner="#[map-payload:cardOwner]" ownerId="#[map-payload:ownerId]" sourceToken="#[map-payload:sourceToken]" source="#[map-payload:source]"/>
<!-- END_INCLUDE(stripe:create=card) -->  
<!-- BEGIN_INCLUDE(stripe:retrieve-card) -->
    <stripe:retrieve-card config-ref="" cardOwner="#[map-payload:cardOwner]" ownerId="#[map-payload:ownerId]" id="#[map-payload:id]" />
<!-- END_INCLUDE(stripe:retrieve-card) -->  
<!-- BEGIN_INCLUDE(stripe:update-card) -->
    <stripe:update-card config-ref="" cardOwner="#[map-payload:cardOwner]" ownerId="#[map-payload:ownerId]" id="#[map-payload:id]" addressCity="#[map-payload:addressCity]" addressCountry="#[map-payload:addressCountry]" addressLine1="#[map-payload:addressLine1]" addressLine2="#[map-payload:addressLine2]" addressState="#[map-payload:addressState]" addressZip="#[map-payload:addressZip]" expMonth="#[map-payload:expMonth]" expYear="#[map-payload:expYear]" metadata="#[map-payload:metadata]" cardName="#[map-payload:cardName]"/>
<!-- END_INCLUDE(stripe:update-card) -->
<!-- BEGIN_INCLUDE(stripe:delete-card) -->
    <stripe:delete-card config-ref="" cardOwner="#[map-payload:cardOwner]" ownerId="#[map-payload:ownerId]" id="#[map-payload:id]" />
<!-- END_INCLUDE(stripe:delete-card) -->  
<!-- BEGIN_INCLUDE(stripe:list-all-customer-cards) -->
	<stripe:list-all-customer-cards config-ref="" ownerId="#[map-payload:ownerId]" endingBefore="#[map-payload:endingBefore]" limit="#[map-payload:limit]" startingAfter="#[map-payoad:startingAfter]" /> 
<!-- END_INCLUDE(stripe:list-all-customer-cards) -->
<!-- BEGIN_INCLUDE(stripe:list-all-recipient-cards) -->
	<stripe:list-all-recipient-cards config-ref="" ownerId="#[map-payload:ownerId]" endingBefore="#[map-payload:endingBefore]" limit="#[map-payload:limit]" startingAfter="#[map-payoad:startingAfter]" /> 
<!-- END_INCLUDE(stripe:list-all-recipient-cards) -->
<!-- BEGIN_INCLUDE(stripe:create-charge) -->
	<stripe:create-charge config-ref="" amount="#[map-payload:amount]" currency="#[map-payload:currency]" customerId="#[map-payload:customerId]" source="#[map-payoad:source]" description="#[map-payload:description]" metadata="#[map-payload:metadata]" capture="#[map-payload:capture]" statementDescriptor="#[map-payload:statementDescriptor]" receiptEmail="#[map-payload:receiptEmail]" destination="#[map-payload:destination]" applicationFee="#[map-payload:applicationFee]" shipping="#[map-payload:shipping]"/> 
<!-- END_INCLUDE(stripe:create-charge) -->
<!-- BEGIN_INCLUDE(stripe:retrieve-charge) -->
	<stripe:retrieve-charge config-ref="" id="#[map-payload:id]"/> 
<!-- END_INCLUDE(stripe:retrieve-charge) -->
<!-- BEGIN_INCLUDE(stripe:update-charge) -->
	<stripe:update-charge config-ref="" id="#[map-payload:id]" description="#[map-payload:description]" metadata="#[map-payload:metadata]" receiptEmail="#[map-payload:receiptEmail]" fraudDetails="#[map-payload:fraudDetails]"/> 
<!-- END_INCLUDE(stripe:update-charge) -->
<!-- BEGIN_INCLUDE(stripe:capture-charge) -->
	<stripe:capture-charge config-ref="" id="#[map-payload:id]" amount="#[map-payload:amount]" description="#[map-payload:description]" statementDescriptor="#[map-payload:statementDescriptor]" receiptEmail="#[map-payload:receiptEmail]" applicationFee="#[map-payload:applicationFee]" /> 
<!-- END_INCLUDE(stripe:capture-charge) -->
<!-- BEGIN_INCLUDE(stripe:list-all-charges) -->
	<stripe:list-all-charges config-ref="" createdTimestamp="#[map-payload:createdTimestamp]" created="#[map-payload:created]" customer="#[map-payload:customer]" endingBefore="#[map-payload:endingBefore]" limit="#[map-payload:limit]" startingAfter="#[map-payoad:startingAfter]" /> 
<!-- END_INCLUDE(stripe:list-all-charges) -->
<!-- BEGIN_INCLUDE(stripe:create-subscription) -->
	<stripe:create-subscription config-ref="" customerId="#[map-payload:customerId]" plan="#[map-payload:plan]" coupon="#[map-payload:coupon]" trialEnd="#[map-payload:trialEnd]" sourceToken="#[map-payload:sourceToken]" source="#[map-payload:source]" quantity="#[map-payoad:quantity]" applicationFeePercent="#[map-payoad:applicationFeePercent]" taxPercent="#[map-payoad:taxPercent]" metadata="#[map-payoad:metadata]" /> 
<!-- END_INCLUDE(stripe:create-subscription) -->
<!-- BEGIN_INCLUDE(stripe:retrieve-subscription) -->
	<stripe:retrieve-subscription config-ref="" customerId="#[map-payload:customerId]" subscriptionId="#[map-payload:subscriptionId]"/> 
<!-- END_INCLUDE(stripe:retrieve-charge) -->
<!-- BEGIN_INCLUDE(stripe:update-subscription) -->
	<stripe:update-subscription config-ref="" customerId="#[map-payload:customerId]" subscriptionId="#[map-payload:subscriptionId]" plan="#[map-payload:plan]" coupon="#[map-payload:coupon]" prorate="#[map-payload:prorate]" trialEnd="#[map-payload:trialEnd]" sourceToken="#[map-payload:sourceToken]" source="#[map-payload:source]" quantity="#[map-payoad:quantity]" applicationFeePercent="#[map-payoad:applicationFeePercent]" taxPercent="#[map-payoad:taxPercent]" metadata="#[map-payoad:metadata]" /> 
<!-- END_INCLUDE(stripe:update-subscription) -->
<!-- BEGIN_INCLUDE(stripe:cancel-subscription) -->
	<stripe:cancel-subscription config-ref="" customerId="#[map-payload:customerId]" subscriptionId="#[map-payload:subscriptionId]"/> 
<!-- END_INCLUDE(stripe:cancel-charge) -->
<!-- BEGIN_INCLUDE(stripe:list-active-subscriptions) -->
	<stripe:list-active-subscriptions config-ref="" customerId="#[map-payload:customerId]" endingBefore="#[map-payload:endingBefore]" limit="#[map-payload:limit]" startingAfter="#[map-payoad:startingAfter]" /> 
<!-- END_INCLUDE(stripe:list-active-subscriptions) -->